.container { display:flex;
             border: 2px solid gray;
text-align:space-around;
justify-content:space-around;

}


.item {
font-family: 'Lato', sans-serif;
background-color:white;
font-size:20px;
padding-top: 25px;
}



body{ background-color:white;
 }


.text {font-family: 'Oswald', sans-serif;
}

.flex1 { font-family: 'Open Sans', sans-serif;
font-size:35px;
color:white;
background-color:black;
padding-left:50px;
padding-right:50px;
}

.container-1{ display:flex;
text-align:space-around;
justify-content:space-around;}

.amusant {width:1333px;
height:800px;
z-index: 1;}



.rave-clan {background-color:black;
margin:-18px;
text-align:center;}


.b{color:white;
text-align:center;
font-family: 'Open Sans', sans-serif;
s}



.cc{background-color:brown;
margin:-38px 0 -20px 0;
text-align:center;}





.ptdr {
    display: inline-block;
    position: absolute;
}
.ptdr .a {font-family:'roboto',sans sérif;
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 100px;
    right: 100px;
    top: 350px;
    color: brown;
  
}

.cool {text-align:center;
      font-family:'lato',sans sérif;}
.soul {display:flex;
justify-content:center;}



.container-3 {
             border: solid;
background-color:black;}
.container-4 {
             border: solid;
background-color:black;
}



.item-3 {color:white;
diplay:flex;
justify-content:space-around;
font-family:'lato',sans sérif;}

